@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';

body {
  margin: auto;
  padding: var(--size-4);
  font-family: system-ui, sans-serif;
  background: var(--surface-1);
  color: var(--text-1);
  width: 350px;
}

h2 {
  margin-bottom: var(--size-1);
}

.subtitle {
  color: var(--text-2);
  font-size: 0.9rem;
  margin-bottom: var(--size-3);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--surface-3);
  border: 1px solid var(--surface-2);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  margin-bottom: var(--size-3);
}

fieldset > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-2);
}

.warning {
  background-color: var(--red-6);
  color: white;
  font-weight: bold;
}

#summary {
  min-height: 120px;
  white-space: pre-wrap;
  font-size: 0.9rem;
  overflow-y: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: var(--size-2);
}

.btn,
.btn-primary {
  flex: 1;
  padding: var(--size-3);
  border-radius: var(--radius-3);
  border: none;
  cursor: pointer;
}

.btn {
  background: var(--surface-4);
}

.btn-primary {
  background: #0a66c2;
  color: white;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}
